* {
  --top: 20%;
  --topButton :50%;
}

@media screen and (max-width: 767px) {
  .Phimle {
    margin-top: 5rem;
    min-height: 60vh;
  }
  .Phimle__product {
    --cot: 2;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .Phimle__product-cart .btn {
    display: none;
  }
  .Phimle__product-cart .category {
    display: none;
  }
  .Phimle__product-cart .add {
    display: none;
  }
  .Phimle__product-cart {
    width: calc(calc(100% - 0.6rem) / var(--cot));
    height: 25rem;
    position: relative;
    color: var(--nameTitle);
  }
  .Phimle__product-cart img {
    height: 85%;
  }
  .Phimle .fa-angle-right {
    top: var(--topButton);
    right: 1%;
    padding: 0.5rem 1rem;
  }

  .Phimle .fa-angle-left {
    top: var(--topButton);
    left: 1%;
    padding: 0.5rem 1rem;
  }
  .Phimle__product-cart .title {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .Phimle__product-cart i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.9rem;
    font-size: 1.3rem;
  }

}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .Phimle__product {
    --cot: 3;
    padding-bottom: 4rem;
  }
  .Phimle__product-cart .btn {
    display: none;
  }
  .Phimle__product-cart .category {
    display: none;
  }
  .Phimle__product-cart .add {
    display: none;
  }
  .Phimle__product-cart {
    width: calc(100% / var(--cot) - 1rem);
    height: 30rem;
    /* border : 1px solid blue; */
    position: relative;
    color: var(--nameTitle);
  }
  .Phimle .fa-angle-right {
    top: 70%;
    right: 30%;
  }

  .Phimle .fa-angle-left {
    top: 70%;
    left: 30%;
  }
}
