@media screen and (max-width:767px)
{
    .Phimbo__product
    {
        --cot:2;
        padding-bottom: 4rem;
    }
    .Phimbo__product-cart .btn 
    {
        display: none;
    }
    .Phimbo__product-cart .category
    {
        display: none;
    }
    .Phimbo__product-cart .add
    {
        display: none;
    }
    .Phimbo__product-cart
    {
        width: calc(100% / var(--cot) - 1rem);
        height: 30rem;
        /* border : 1px solid blue; */
        position: relative;
        color:var(--nameTitle);
    }
    .Phimbo .fa-angle-right
    {
        top:70%;
        right:30%;
    }


    .Phimbo .fa-angle-left
    {

        top:70%;
        left:30%;
    }
}

@media screen and (min-width:600px) and (max-width:1079px)
{
    .Phimbo__product
    {
        --cot: 3;
        padding-bottom: 4rem;
    }
    .Phimbo__product-cart .btn 
    {
        display: none;
    }
    .Phimbo__product-cart .category
    {
        display: none;
    }
    .Phimbo__product-cart .add
    {
        display: none;
    }
    .Phimbo__product-cart
    {
        width: calc(100% / var(--cot) - 1rem);
        height: 30rem;
        /* border : 1px solid blue; */
        position: relative;
        color:var(--nameTitle);
    }
    .Phimbo .fa-angle-right
    {
        top:70%;
        right:30%;
    }


    .Phimbo .fa-angle-left
    {

        top:70%;
        left:30%;
    }
}